@font-face {
    font-family: odachi;
    src: url(../fonts/Odachi.woff);
}

* {
    box-sizing: border-box;
}

#player-card h5,
#opponent-card h5 {
    font-size: 24px;
    font-weight: bold;
    color: darkred;
}

body { 
    background-color: lightslategrey;
    background-image: url("../images/godzilla-bg-2.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 0 60px;
    font-family: odachi, cursive;
    font-size: 18px;
}

.outline {
    border: solid black 1px;
}

.navbar-collapse > .row {
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
}

.tab-pane {
    border: 1px solid #dee2e6;
    padding: 1rem;
}

.content {
    margin-bottom: 3rem;
}

#play-area-body  {
    background-image: url("../images/king_ghidorah_godzilla_series_classic_movie_by_darkoss002-davrmqz.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 0 -160px;
}


#play-area-body .list-group-item  {
    height: 50px;
}

#play-area-body .list-group-item.selected  {
    background-color: #d56c6c;
    border-color: darkred;
}

#player-card .list-group-item {
    cursor: pointer;
}

#player-card .list-group-item:hover {
    /* background-image: url("../images/godzilla-2-king-of-monsters-rodan-mothra-ghidorah-1003537-1280x0.jpg");
    background-repeat: no-repeat; 
    background-size: cover; */

    background-color: silver;

    /* color: white; */
    font-weight: bold;
    font-size: 20px;
}


#exit-game-button {
    cursor: pointer;
}

#chat-area .list-group-item {
    padding: 3px 5px;
}

footer {
    height: 2rem;
    color: white;
}