body { 
    background-color: whitesmoke;
}

.outline {
    border: solid black 1px;
}

.navbar-collapse > .row {
    width: 100%;
}

.tab-pane {
    border: 1px solid #dee2e6;
    padding: 1rem;
}

.content {
    margin-bottom: 3rem;
}

footer {
    height: 2rem;
    color: white;
}